/*insert specific styling for just this project in this file*/

/*
Designed by Responsive Redesign
code@responsiveredesign.io
*/

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: rgba(172,241,166,1.0);
	font-weight: bold;
	text-decoration: none;
}

body {
	background: #333;
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
}

@media only screen and (max-width: 991px) {
	.collab-row-height {
		padding: 40px;
	}
} /*end media query*/


@media only screen and (min-width: 992px) {
	.collab-row-height {
		height: 350px;
	}
} /*end media query*/

footer {
	padding: 50px;
	color: gray;
}
footer a, footer p {
	color: gray;
}

.green {
	color: rgba(172,241,166,1.0);
}

h1, h2 {
	color: rgba(172,241,166,1.0);
	font-weight: 300;
}
li {
	margin-left: 25px;
}
p, ul {
	font-weight: 100;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	color: #eee;
	padding: 5px;
}

#logo-area img {
	width: 90%;
	max-width: 200px;
}

main#index .container {
	padding-top: 20vh;
}

main#opportunities .container {
	padding-top: 10vh;
}

main p {
	font-weight: 100;
	/*font-family: Arial;*/
	font-family: 'Lato', sans-serif;
	font-size: 18px;

}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 25px;
	}	
}

nav {
	position: fixed;
	height: 100px;
	width: 100%;
}

nav ul {
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px;
	text-decoration: none;
	list-style: none;
	color: rgba(172,241,166,1.0);
	/*todo why is color of text not changing*/
}

nav ul li {
	float: left;
	text-align: center;
	font-size: 16px;
	color: rgba(172,241,166,1.0) !important;
}




