<!doctype html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - for Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107992193-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107992193-1');
</script>
<!-- end googl analytics tracking code -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<title>Conscious Office | Coming Soon</title>
<!-- for bootstrap cdn for js only -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- end bootstrap cdn for js only -->
<link rel="icon" href="favicon.png" type="image/png">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<!-- below is the link to custom styling for this specific project. Designers, edit this file primarily. -->
<link href="css/project-styling.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<!-- todo make sure link to favicon -->

<!-- This template is Bootstrap based. See more at Getbootstrap.com
Made by Responsive Redesign, a Virgo Ventures LLC agency.
ResponsiveRedesign.io
team@virgoventures.org -->

<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- for recaptcha integration -->
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<!-- all .container are inside the anchor elements so they will have container padding, but elements can have background colors of full width -->

	<main id="index">
		<div class="container text-center">
<nav>
	<div id="nav-brand-area">
		<%= link_to root_path do %>
			<%= image_tag('CO-long-logo-v1', alt: "Conscious Office", id: "nav-logo", class: "img-responsive") %>
			<p id="nav-brand-text" class="hidden">Conscious Office</p>
		<% end %>
	</div>
    <div id="navigation-hamburger" class="hidden-md hidden-lg hidden-sm">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <div class="hidden">Menu</div>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div><!-- end #hamburger -->
	<ul id="navigation-list">
		<li><%= link_to "About", root_path %></li>
		<li><%= link_to "Join", new_customer_path %></li>
		<li><%= link_to "Opportunities", opportunities_path %></li>
		<br>
		<!-- <li><button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#exampleModal">Join Our Growing Email Community</button></li> -->
		<!-- Modal begin -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Join our Email Community</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">   
	        	<!-- agile crm form code start for joining community email list -->
				<div id="consciousoffice_5717495361044480" class="agile_crm_form_embed"><span style="display:none">Fill out my <a href="https://consciousoffice.agilecrm.com/forms/5717495361044480">online form</a></span></div>
				<!-- agile crm form code end for joining community email list -->
		      </div><!-- end modal body -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- end modal -->
	</ul>
</nav>
			<div id="welcome-area" class="row">
				<div class="col-sm-12 col-xs-12 col-md-offset-1 col-md-3 col-lg-offset-1 col-lg-3">
					<div id="logo-area" class="text-center img-responsive">
						<img src="images/co-logo-v5.png" alt="Conscious Office">
					</div>
				</div>
				<div class="col-sm-12 col-xs-12 col-md-8 col-lg-8 left-lower-on-large">
					<h1>Conscious Office</h1><br>
					<h2 id="tagline" class="white">Office Supplies for Sustainability</h2>
				</div>
			</div><!-- end #welcome-area -->
			<div class="hidden-sm hidden-xs">
				<br><br>
			</div>
			<p class="gray">We are setting up our e-commerce platform now,<br>
				to be ready for launch in mid October 2017.</p>
			<div id="fundraising" class="text-left green row">
				<div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-0 col-xs-12">
					<p class="green">We are raising seed funds for the following:</p>
					<ul>
						<li>Hire the startup employees needed to scale</li>
						<li>Fund operating expenses</li>
						<li>Design and develop sustainability product labeling</li>
						<li>Implement product labeling on custom progressive web app with a great UI</li>
					</ul>
					<p><span class="green">Fundraising deadline:</span> <br>We are looking to have committed funds by November 2017</p>
					<p><span class="green">To discuss funding:</span> <br>Please email our founder at <a href="mailto:alison@consciousoffice.io">alison@consciousoffice.io</a></p>
				</div>
			</div><!-- fundraising -->
			<br><br>
			<div id="action-area">
				<p class="gray">To sign up as an early customer, please email<br>
				<b><a href="mailto:sales@consciousoffice.io" class="gray">sales@consciousoffice.io</a></b></p>
				<p class="gray">To collaborate, visit our <a href="opportunities.html" class="gray">Opportunities Page</a>.</p></div>
			</div><!-- action area -->
			<br><br><br>
		</div>
	</main>
<footer>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					
					<!-- <li>Conscious Design</li>
					<li>Conscious Thinking</li>
					<li>Conscious Community</li> -->
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li><%= link_to root_path do %>
							<%= image_tag('CO-long-logo-v1', alt: "Conscious Office", id: "footer-logo", class: "img-responsive text-center") %>
						<% end %>
					</li>
					<li><%= link_to "About", supplies_path %></li>
					<li><%= link_to "Join the Community", new_customer_path %></li>
					<li><%= link_to "Careers & Opportunities", opportunities_path %></li>
					<li><a href="https://twitter.com/ConsciousOffice" target="none" alt="Twitter">Follow us on Twitter</a></li>>
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
			<ul>
					
					<!-- <li>Log in</li>
					<li>Create an Account</li> -->
					<!-- todo <li><%= link_to "FAQ", faq_path %></li> -->
					<!-- <li>Terms and Conditions</li>
					<li>Privacy Policy</li> -->
				</ul>
			</p>
		</div><!-- end .col -->				
	</div><!-- end .row -->
</footer>

	<!-- todo insert any tracking code client would like. Google analytics, or their CRM, etc. -->

	<!-- for agile crm form tracking and information -->
	<script id="_agile_min_js" async type="text/javascript" src="https://consciousoffice.agilecrm.com/stats/min/agile-min.js"> </script>
	<script type="text/javascript" >
	var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
	_agile.set_account('uhgtusikrg5pb2segs9jacdklv', 'consciousoffice');
	_agile.track_page_view();
	_agile_execute_web_rules();};
	</script>
	<!-- end for agile crm form tracking and integration -->
</body>
</html>