<!doctype html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - for Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107992193-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107992193-1');
</script>
<!-- end googl analytics tracking code -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">

<title>Conscious Office | Careers and Opportunities</title>
<!-- for bootstrap cdn for js only -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!-- end bootstrap cdn for js only -->
<link rel="icon" href="favicon.png" type="image/png">
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.css" rel="stylesheet" type="text/css">
<link href="css/animate.css" rel="stylesheet" type="text/css">
<!-- below is the link to custom styling for this specific project. Designers, edit this file primarily. -->
<link href="css/project-styling.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<!-- todo make sure link to favicon -->

<!-- This template is Bootstrap based. See more at Getbootstrap.com
Iplemented and designed by Responsive Redesign, a Virgo Ventures LLC agency.
ResponsiveRedesign.io
team@virgoventures.org -->

<script type="text/javascript" src="js/jquery.1.8.3.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- for recaptcha integration -->
<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<!-- all .container are inside the anchor elements so they will have container padding, but elements can have background colors of full width -->

	<main id="opportunities">
		<div class="container text-center">
<nav>
	<div id="nav-brand-area">
		<%= link_to root_path do %>
			<%= image_tag('CO-long-logo-v1', alt: "Conscious Office", id: "nav-logo", class: "img-responsive") %>
			<p id="nav-brand-text" class="hidden">Conscious Office</p>
		<% end %>
	</div>
    <div id="navigation-hamburger" class="hidden-md hidden-lg hidden-sm">
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <div class="hidden">Menu</div>
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div><!-- end #hamburger -->
	<ul id="navigation-list">
		<li><%= link_to "About", root_path %></li>
		<li><%= link_to "Join", new_customer_path %></li>
		<li><%= link_to "Opportunities", opportunities_path %></li>
		<br>
		<!-- <li><button type="button" class="btn btn-md btn-success" data-toggle="modal" data-target="#exampleModal">Join Our Growing Email Community</button></li> -->
		<!-- Modal begin -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Join our Email Community</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">   
	        	<!-- agile crm form code start for joining community email list -->
				<div id="consciousoffice_5717495361044480" class="agile_crm_form_embed"><span style="display:none">Fill out my <a href="https://consciousoffice.agilecrm.com/forms/5717495361044480">online form</a></span></div>
				<!-- agile crm form code end for joining community email list -->
		      </div><!-- end modal body -->
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- end modal -->
	</ul>
</nav>
			<h1>Careers&nbsp;and&nbsp;Opportunities with&nbsp;Conscious&nbsp;Office</h1><br>
			<p>We&nbsp;have&nbsp;just&nbsp;lauched&nbsp;and are&nbsp;looking&nbsp;for&nbsp;a&nbsp;lot&nbsp;of&nbsp;help.</p><br><br>
			<div class="row">
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Careers</h2>
					<p class="text-left">We are currently seeking early emloyees for the following roles:
					<ul class="text-left">
						<li>Business Manager</li>
						<li>Communications &amp; Social Media Director</li>
						<li>Customer Service Rep (NYC or remote)</li>
						<li>Sales Reps in New York, San Francisco, Los Angeles, and Seattle.</li>
					</ul></p>
					<p>To apply, please send your resume and a short cover letter to our founder at <a href="mailto:alison@consciousoffice.io">alison@consciousoffice.io</a></p>
				</div><!-- end .col -->
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Partnerships</h2>
					<p class="text-left"> 
					We are interested in developing relatioships with other sustainable and mission driven companies. None of us can do this alone.</p>
					<p>To collaborate, please email our founder at <a href="mailto:alison@consciousoffice.io">alison@consciousoffice.io</a>
					</p>
				</div><!-- end .col -->
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Investors</h2>
					<p class="text-left">We've just soft launched and are starting to take on early clients.</p>
					<p class="text-left">...And we are opening up our calendar to impact investors that are interested in the sustainable product space.</p>
					<p class="text-left">To get involved, email our founder at <a href="mailto:sales@consciousoffice.io">alison@consciousoffice.io</a></p>
				</div><!-- end .col -->
				<div class="collab-row-height col-sm-12 col-md-6 col-lg-6">
					<h2>Customers</h2>
					<p class="text-left">We are pre-selling to a select list of clients and personal contacts.<br>
					<p class="text-left"> Our offering includes:
						<ul class="text-left">
							<li>Price matching to what you're currently buying</li>
							<li>Sustainable product recommendations</li>
							<li>Membership to our internal community of socially good businesses</li>
						</ul>
					</p>
					<p class="text-left">To join that list, email <a href="mailto:sales@consciousoffice.io">sales@consciousoffice.io</a></p>
				</div><!-- end .col -->
			</div><!-- end .row -->	
		</div><!-- end .container -->

	</main>

<footer>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					
					<!-- <li>Conscious Design</li>
					<li>Conscious Thinking</li>
					<li>Conscious Community</li> -->
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
				<ul>
					<li><%= link_to root_path do %>
							<%= image_tag('CO-long-logo-v1', alt: "Conscious Office", id: "footer-logo", class: "img-responsive text-center") %>
						<% end %>
					</li>
					<li><%= link_to "About", supplies_path %></li>
					<li><%= link_to "Join the Community", new_customer_path %></li>
					<li><%= link_to "Careers & Opportunities", opportunities_path %></li>
					<li><a href="https://twitter.com/ConsciousOffice" target="none" alt="Twitter">Follow us on Twitter</a></li>
				</ul>
			</p>
		</div><!-- end .col -->
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
			<p>
			<ul>
					
					<!-- <li>Log in</li>
					<li>Create an Account</li> -->
					<!-- todo <li><%= link_to "FAQ", faq_path %></li> -->
					<!-- <li>Terms and Conditions</li>
					<li>Privacy Policy</li> -->
				</ul>
			</p>
		</div><!-- end .col -->				
	</div><!-- end .row -->
</footer>
	<!-- todo insert any tracking code client would like. Google analytics, or their CRM, etc. -->

	<!-- for agile crm form tracking and information -->
	<script id="_agile_min_js" async type="text/javascript" src="https://consciousoffice.agilecrm.com/stats/min/agile-min.js"> </script>
	<script type="text/javascript" >
	var Agile_API = Agile_API || {}; Agile_API.on_after_load = function(){
	_agile.set_account('uhgtusikrg5pb2segs9jacdklv', 'consciousoffice');
	_agile.track_page_view();
	_agile_execute_web_rules();};
	</script>
	<!-- end for agile crm form tracking and integration -->

</body>
</html>